.fav {
    height: 3.5em;
    background: #5a6268;
    border-radius: 30px;
    line-height: 3.5em;
    vertical-align: middle;
    padding-left: -1em;
}
td{
    background-color: lawngreen;
}
.booked{
    background-color: red;
}