{% extends 'base.jinja' %}
{% block content %}
{% for day in multd%}
    $("#"+day[0]+"-"+day[1]).css("background-color", "red");
{% endfor %}
<table class="table table-hover table-light">
<thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">6:00 - 7:00</th>
        <td id="Monday6-7"></td>
        <td id="Tuesday6-7"></td>
        <td id="Wednesday6-7"></td>
        <td id="Thursday6-7"></td>
        <td id="Friday6-7"></td>
        <td id="Saturday6-7"></td>
        <td id="Sunday6-7"></td>
    </tr>
    <tr>
        <th scope="row">7:00 - 8:00</th>
        <td id="Monday7-8"></td>
        <td id="Tuesday7-8"></td>
        <td id="Wednesday7-8"></td>
        <td id="Thursday7-8"></td>
        <td id="Friday7-8"></td>
        <td id="Saturday7-8"></td>
        <td id="Sunday7-8"></td>
    </tr>
    <tr>
        <th scope="row">8:00 - 9:00</th>
        <td id="Monday8-9"></td>
        <td id="Tuesday8-9"></td>
        <td id="Wednesday8-9"></td>
        <td id="Thursday8-9"></td>
        <td id="Friday8-9"></td>
        <td id="Saturday8-9"></td>
        <td id="Sunday8-9"></td>
    </tr>
    <tr>
        <th scope="row">9:00 - 10:00</th>
        <td id="Monday9-10"></td>
        <td id="Tuesday9-10"></td>
        <td id="Wednesday9-10"></td>
        <td id="Thursday9-10"></td>
        <td id="Friday9-10"></td>
        <td id="Saturday9-10"></td>
        <td id="Sunday9-10"></td>
    </tr>
    <tr>
        <th scope="row">10:00 - 11:00</th>
        <td id="Monday10-11"></td>
        <td id="Tuesday10-11"></td>
        <td id="Wednesday10-11"></td>
        <td id="Thursday10-11"></td>
        <td id="Friday10-11"></td>
        <td id="Saturday10-11"></td>
        <td id="Sunday10-11"></td>
    </tr>
    <tr>
        <th scope="row">11:00 - 12:00</th>
        <td id="Monday11-12"></td>
        <td id="Tuesday11-12"></td>
        <td id="Wednesday11-12"></td>
        <td id="Thursday11-12"></td>
        <td id="Friday11-12"></td>
        <td id="Saturday11-12"></td>
        <td id="Sunday11-12"></td>
    </tr>
    <tr>
        <th scope="row">12:00 - 13:00</th>
        <td id="Monday12-13"></td>
        <td id="Tuesday12-13"></td>
        <td id="Wednesday12-13"></td>
        <td id="Thursday12-13"></td>
        <td id="Friday12-13"></td>
        <td id="Saturday12-13"></td>
        <td id="Sunday12-13"></td>
    </tr>
    <tr>
        <th scope="row">13:00 - 14:00</th>
        <td id="Monday13-14"></td>
        <td id="Tuesday13-14"></td>
        <td id="Wednesday13-14"></td>
        <td id="Thursday13-14"></td>
        <td id="Friday13-14"></td>
        <td id="Saturday13-14"></td>
        <td id="Sunday13-14"></td>
    </tr>
    <tr>
        <th scope="row">14:00 - 15:00</th>
        <td id="Monday14-15"></td>
        <td id="Tuesday14-15"></td>
        <td id="Wednesday14-15"></td>
        <td id="Thursday14-15"></td>
        <td id="Friday14-15"></td>
        <td id="Saturday14-15"></td>
        <td id="Sunday14-15"></td>
    </tr>
    <tr>
        <th scope="row">15:00 - 16:00</th>
        <td id="Monday15-16"></td>
        <td id="Tuesday15-16"></td>
        <td id="Wednesday15-16"></td>
        <td id="Thursday15-16"></td>
        <td id="Friday15-16"></td>
        <td id="Saturday15-16"></td>
        <td id="Sunday15-16"></td>
    </tr>
    <tr>
        <th scope="row">16:00 - 17:00</th>
        <td id="Monday16-17"></td>
        <td id="Tuesday16-17"></td>
        <td id="Wednesday16-17"></td>
        <td id="Thursday16-17"></td>
        <td id="Friday16-17"></td>
        <td id="Saturday16-17"></td>
        <td id="Sunday16-17"></td>
    </tr>
    <tr>
        <th scope="row">17:00 - 18:00</th>
        <td id="Monday17-18"></td>
        <td id="Tuesday17-18"></td>
        <td id="Wednesday17-18"></td>
        <td id="Thursday17-18"></td>
        <td id="Friday17-18"></td>
        <td id="Saturday17-18"></td>
        <td id="Sunday17-18"></td>
    </tr>
    <tr>
        <th scope="row">18:00 - 19:00</th>
        <td id="Monday18-19"></td>
        <td id="Tuesday18-19"></td>
        <td id="Wednesday18-19"></td>
        <td id="Thursday18-19"></td>
        <td id="Friday18-19"></td>
        <td id="Saturday18-19"></td>
        <td id="Sunday18-19"></td>
    </tr>
    <tr>
        <th scope="row">19:00 - 20:00</th>
        <td id="Monday19-20"></td>
        <td id="Tuesday19-20"></td>
        <td id="Wednesday19-20"></td>
        <td id="Thursday19-20"></td>
        <td id="Friday19-20"></td>
        <td id="Saturday19-20"></td>
        <td id="Sunday19-20"></td>
    </tr>
</tbody>
</table>
{% endblock %}