{% macro home_item_with_icon(icon, icon_size='fa-4x', url_id='', link='', title='', attr='') -%}
    <div class="col-12 col-sm-6 col-lg-6 col-xl-6 p-3">
        <div class="card">
            {% if url_id %}
                <a href="{{ url(url_id) }}" {{ attr }}>
                    <div class="card-body">
                        <h4 class="card-title text-center"><i class="fa {{ icon }} {{ icon_size }}"
                                                              aria-hidden="true"></i></h4>
                        {% if title %}
                            <p class="text-center">{{ title }}</p>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="{{ link }}" {{ attr }}>
                    <div class="card-body">
                        <h4 class="card-title text-center"><i class="fa {{ icon }} {{ icon_size }}"
                                                              aria-hidden="true"></i></h4>
                        {% if title %}
                            <p class="text-center">{{ title }}</p>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}