{% extends 'base.jinja' %}
{% block content %}
    <h1>Ressourcenpool Bamberg</h1>
    <p><strong>Impressum</strong></p>
    <p>Anbieter:<br />Max Mustermann<br />Musterstraße 1<br />96049 Bamberg</p>
    <p>Kontakt:<br />Telefon: 0951/12345678<br />Telefax: 0951/1234567<br />E-Mail: mail@mustermann.de<br />Website: www.mustermann.de</p>
    <p> </p>
    <p>Bei redaktionellen Inhalten:</p>
    <p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />96049 Bamberg</p>
{% endblock %}