{% extends 'base.jinja' %}
{% block content %}
    <div class="row container">
        <div class="col-2"></div>
        <div class="col-9">
            <div class="row">
                {% for favorite in favorites %}
                    <div class="well col-3" align="center"><div class="fav">{{favorite.room_number}}</div></div>
                {% endfor %}

                <div class="well col-3" align="center"><div class="fav">fuck</div></div>
                <div class="well col-3" align="center"><div class="fav">this</div></div>
                <div class="well col-3" align="center"><div class="fav">god</div></div>
                <div class="well col-3" align="center"><div class="fav">damn</div></div>
                <div class="well col-3" align="center"><div class="fav">shit</div></div>

            </div>
        </div>
    </div>
{% endblock %}