{% extends 'base.jinja' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Ressourcenpool Bamberg</h1>
            <h2>Herzlich Willkommen beim Ressourcenpool Bamberg! </h2>
            <br>
            <h2> Ein Anleitung zum Ausleihen finden Sie unter: <a href="guide">Guide</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 bg-dark">
            Hallo Menschen!
        </div>
        <div class="col-12 col-md-4 bg-primary">
            Hallo Androids!
        </div>
    </div>
{% endblock %}