{% extends "base.jinja" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form action="{{ url("roomservice:booking") }}" method="POST" id="form">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select multiple name="room" class="form-control" form="form" id="sel1">
                        {% for room in rooms %}
                            <option value="{{room.id}}">{{room.room_number}}</option>
                        {% endfor %}
                    </select>
                </div>
                    <button type="submit" method="POST" value=" Send" class="btn btn-success" id="submit"> Submit </button>
                </div>
                </form>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



