{% extends 'base.jinja2' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-xs-11 col-sm-10 col-md-9 col-lg-7 col-xl-5 mt-3 shadow bg-secondary py-3 px-4">
            <h2>Impressum</h2>
            {#            Add your Content here#}

        </div>
    </div>
{% endblock %}